---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<ul style="list-style-type:square;"></ul>

<!-- <h2>Research Funding</h2>

<li>Early Career Scholars Program award funed by UND VPRED, PI</li><br>
<li>Industry University Cooperative Research Center planning grant funed by NSF, Co-PI</li><br>
<li>SARJ award from NSF EPSCoR RII Track-2 FEC funed by USA/NSF, PI</li><br> -->

<h2>Peer-reviewed Publications</h2>

<li>
  E. Grant, and S. Shao, <strong>"Software Engineering M.S. Program for Safety Critical System with Artificial Intelligence,"</strong> <i>The 10th International Conference on Computer and Communications (ICCC)</i>, 2024. (Accepted for Publication)
</li>
<br>
<li>
  E. Grant, S. Shao, Q. Shi, and M. Arinaitwe, <strong>"Applying AI in Software Development Education,"</strong> <i>The 6th IEEE Eurasia Conference on IoT, Communication and Engineering</i>, 2024. (Accepted for Publication)
</li>
<br>
<li>
  Q. Shi, Z. Yang, A. Haidar, B. Terry, F. Li, J. Zhang and S. Shao, <strong>"Anomaly Transformer-based System Log Anomaly Detection,"</strong> <i>IEEE Cyber Awareness and Research Symposium</i>, 2024. (Accepted for Publication)
</li>
<br>
<li>
  F. Li, H. Wu, Q. Shi, S. Shao, J. Zhang, <strong>"Towards Quality Controllable Data Synthesis: A Case Study on Synthesizing Network Intrusions,"</strong> <i>IEEE Cyber Awareness and Research Symposium</i>, 2024. (Accepted for Publication)
</li>
<br>
<li>
  L. Yao, Q. Shi, Z. Yang, S. Shao, and S. Hariri, <strong>"Development of an Edge Resilient ML Ensemble to Tolerate ICS Adversarial Attack,"</strong> <i>In Dynamic Data Driven Applications Systems: 5th International Conference, DDDAS, Springer</i>, 2024. (Accepted for Publication)
</li>
<br>
<li>
  M.W.U. Rahman, M. Abrar, C. Hunter, S. Hariri, S. Shao, P. Satam, and S. Salehi, <strong>"Quantized Transformer Language Model Implementations on Edge Devices,"</strong> <i>The 22nd IEEE International Conference on Machine Learning and Applications</i>, 2023.
</li>
<br>
<li>
  L. Yao, S. Shao, and S. Hariri, <strong>"Resilient Machine Learning (rML) Against Adversarial Attacks on Industrial Control Systems,"</strong> <i>The 20th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2023.
</li>
<br>
<li>
  T. Ha, S. Shao, and S. Hariri, <strong>"An Explainable Outlier Detection-based Data Cleaning Approach for Intrusion Detection,"</strong> <i>The 20th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2023.
</li>
<br>
<li>
  I. Almazyad, S. Shao, and S. Hariri, <strong>"Anomaly Behavior Analysis of Smart Water Treatment Facility Service: Design, Analysis and Evaluation,"</strong> <i>The 20th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2023.
</li>
<br>
<li>
  Y. Lin, S. Shao, M. H. Rahman, M. Shafae, and P. Satam, <strong>"DT4I4-Secure: Digital Twin Framework for Industry 4.0 Systems Security,"</strong> <i>The 14th IEEE Annual Ubiquitous Computing, Electronics and Mobile Communication Conference</i>, 2023.
</li>
<br>
<li>
  M. M. Lopez, S. Shao, S. Hariri, and S. Salehi, <strong>"Machine Learning for Intrusion Detection: Stream Classification Guided by Clustering for Sustainable Security in IoT,"</strong> <i>The 33rd ACM Great Lakes Symposium on VLSI</i>, 2023.
</li>
<br>
<li>
  P. Satam, C. Philipp, S. Shao, and S. Salehi, <strong>"CPS-TR: An Online Training Platform to Address Fourth Industrial Revolution Workforce Needs,"</strong> <i>The 13th IEEE Integrated STEM Education Conference</i>, 2023.
</li>
<br>
<li>
  S. Shao, S. Alharir, S. Hariri, P. Satam, S. Shiri, and A. Mbarki, <strong>"AI-based Arabic Language and Speech Tutor,"</strong> <i>The 19th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2022.
</li>
<br>
<li>
  M. Rahman, S. Shao, P. Satam, S. Hariri, C. Padilla, Z. Taylor, and C. Nevarez, <strong>"A BERT-based Deep Learning Approach for Reputation Analysis in Social Media,"</strong> <i>The 19th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2022.
</li>
<br>
<li>
  S. Elmadani, S. Hariri, and S. Shao, <strong>"Blockchain Based Methodology for Zero Trust Modeling and Quantification for 5G Networks,"</strong> <i>The Federated Systems & Testbeds Workshop on 5G and Beyond in the 19th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2022.
</li>
<br>
<li>
  X. Gao, R. Sundaresh, P. Rohit, J. Rodríguez, J. Szep, S. Shao, P. Satam, J. Pacheco, and S. Hariri, <strong>"Selecting Post-Processing Schemes for Accurate Detection of Small Objects in Low-Resolution Wide-Area Aerial Imagery,"</strong> <i>Remote Sensing</i>, 2022.
</li>
<br>
<li>
  S. Shao, P. Satam, S. Satam, K. Al-Awady, G. Ditzler, S. Hariri, and C. Tunc, <strong>"Multi-Layer Mapping of Cyberspace for Intrusion Detection,"</strong> <i>The 18th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2021.
</li>
<br>
<li>
  C. Wu, S. Shao, C. Tunc, P. Satam, and S. Hariri, <strong>"An Explainable and Efficient Deep Learning Framework for Video Anomaly Detection,"</strong> <i>Cluster Computing</i>, 2021.
</li>
<br>
<li>
  S. Shao, C. Tunc, A. Al-Shawi, and S. Hariri, <strong>"An Ensemble of Ensembles Approach to Author Attribution for Internet Relay Chat Forensics,"</strong> <i>ACM Transactions on Management Information Systems</i>, 2020.
</li>
<br>
<li>
  C. Wu, S. Shao, C. Tunc, and S. Hariri, <strong>"Video Anomaly Detection Using Pre-Trained Deep Convolutional Neural Nets and Context Mining,"</strong> <i>The 17th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2020.
</li>
<br>
<li>
  S. Shao, C. Tunc, A. Al-Shawi, and S. Hariri, <strong>"One-class classification with deep autoencoder neural networks for author verification in internet relay chat,"</strong> <i>The 16th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2019.
</li>
<br>
<li>
  S. Shao, C. Tunc, A. Al-Shawi, and S. Hariri, <strong>"Automated Twitter Author Clustering with Unsupervised Learning for Social Media Forensics,"</strong> <i>The 16th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2019.
</li>
<br>
<li>
  S. Shao, C. Tunc, A. Al-Shawi, and S. Hariri, <strong>"Autonomic author identification in internet relay chat (IRC),"</strong> <i>The 15th IEEE/ACS International Conference on Computer Systems and Applications</i>, 2018.
</li>
<br>
<li>
  J. Bernard, S. Shao, C. Tunc, H. Kheddouci, and S. Hariri, <strong>"Quasi-cliques analysis for IRC channel thread detection,"</strong> <i>The 7th International Conference on Complex Networks and their Applications</i>, 2018.
</li>
<br>
<li>
  S. Shao, C. Tunc, P. Satam, and S. Hariri, <strong>"Real-time IRC Threat Detection Framework,"</strong> <i>The 2nd IEEE International Workshops on Foundations and Applications of Self* Systems</i>, 2017.
</li>
<br>
<li>
  S. Shao, <strong>"Real-Time Automatic Framework for IRC Threat Information Detection,"</strong> <i>PhD Track/Doctoral Symposium in the 2nd IEEE International Workshops on Foundations and Applications of Self* Systems</i>, 2017.
</li>
<br>


</ul>






{% include base_path %}

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



